<h1> My tasks </h1>
<% @all.each do |item| %>
  <ul>
    <li>
      <input type="checkbox" id="title" <%= item.completed ? 'checked' : '' %>>
      <%= link_to task_path(item.id) do %>
        <strong><%= item.title %></strong>
      <% end %>
    </li>
  </ul>
<% end %>

<%= link_to 'Add a task', new_path %>
